<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cristik.modules.test.dao.ImageDao" >
  <resultMap id="BaseResultMap" type="com.cristik.modules.test.entity.svo.Image" >
      <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="pic_name" property="picName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="pic_location" property="picLocation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="url" property="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  </resultMap>
</mapper>